In [1]:
import os
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

In [4]:
from hotel.models import OrderRoom
from django.db.models import F
from django.db.models.functions import ExtractDay

In [9]:
query_set = OrderRoom.objects.annotate(duration_days_ = ExtractDay(F('end_date') - F('start_date')))\
.annotate(total_price_=F("price") * F("duration_days_"))

query_set.first().total_price_

Decimal('172.80')

In [2]:
from myapp.models import Book

In [4]:
t = Book.objects.all().first()

In [5]:
t.get_next_by_publish_date()

In [6]:
t.get_deferred_fields?

In [12]:
t.get_previous_by_publish_date(is_next=9)

In [7]:
t.get_comment_order()

SQL functions
---

In [45]:
from django.db.models import functions
from django.db import models
from myapp.models import Book, RateBookUser, OrderBookUser, Comment
from django.contrib.auth.models import User
import pandas as pd

In [3]:
# Coalesce

Book.objects.annotate(
    ordd=functions.Coalesce(
        "order", 
        models.Value("0"),
        output_field=models.CharField()
    )
).values("ordd")

In [4]:
# Greatest

Book.objects.annotate(
    gt=functions.Greatest(
        "price",
        2.5,
        output_field=models.FloatField()
    )
).values("gt")

In [5]:
# Least

Book.objects.annotate(
    lt=functions.Least(
        "price",
        2.5,
        output_field=models.FloatField()
    )
).values("lt")

In [6]:
# Cast

Book.objects.annotate(
    nt=functions.Cast(
        "price",
        output_field=models.CharField()
    )
).values("nt")

In [7]:
# Concat
Book.objects.annotate(
    row=functions.Concat(
        models.Value("new value ("),
        functions.Cast("price", output_field=models.CharField()),
        models.Value(")")
    )
).values("row")

In [8]:
# Lower
Book.objects.annotate(
    lower_title=functions.Lower(
        "title"
    )
).values("title", "lower_title")

In [9]:
# Upper
Book.objects.annotate(
    upper_title=functions.Upper(
        "title"
    )
).values("title", "upper_title")

In [10]:
# Length
Book.objects.annotate(
    new_title=functions.Concat(
        "title", 
        models.Value("  "),
        functions.Cast(
            functions.Length("text"),
            output_field=models.CharField()
        )
    )
).values("new_title")

In [11]:
# Strlndex
Book.objects.annotate(
    index=functions.StrIndex(
        "text",
        models.Value("Dick")
    )
).values("index")

In [12]:
# Su–¨str
Book.objects.annotate(
    sub_value=functions.Substr(
        "text",
        580,
        10
    )
).values("sub_value")

In [13]:
# Left
Book.objects.annotate(
    left=functions.Left(
        "text",
        20
    )
).values("left")

In [14]:
# Right
Book.objects.annotate(
    right=functions.Right(
        "text",
        20
    )
).values("right")

In [15]:
# Replace
Book.objects.annotate(
    new_sub_text=functions.Replace(
        "text",
        models.Value("Dick"),
        models.Value("Big"),
        output_field=models.TextField()
    )
).annotate(
    new_text=functions.Substr(
        "new_sub_text",
        580,
        10
    )
).values("new_text")

In [16]:
# Repeat
Book.objects.annotate(
    new_title=functions.Repeat(
        "title", 4
    )
).values("new_title")

In [17]:
# LPad

Book.objects.annotate(
    new_title=functions.LPad(
        "title",
        15,
        models.Value("_")
    )
).values("new_title")

In [18]:
# RPad

Book.objects.annotate(
    new_title=functions.RPad(
        "title",
        15,
        models.Value("_")
    )
).values("new_title")

In [19]:
# Trim
Book.objects.annotate(
    trimed_title=functions.Trim(
        "title"
    )
).values("trimed_title", "title")

In [20]:
# LTrim
Book.objects.annotate(
    trimed_title=functions.LTrim(
        "title"
    )
).values("trimed_title", "title")

In [21]:
# RTrim
Book.objects.annotate(
    trimed_title=functions.RTrim(
        "title"
    )
).values("trimed_title", "title")

In [22]:
# Now
Book.objects.annotate(
    request_date=functions.Now()
).values("request_date")

<QuerySet [{'request_date': datetime.datetime(2022, 1, 15, 12, 33, 37, 670510, tzinfo=<UTC>)}, {'request_date': datetime.datetime(2022, 1, 15, 12, 33, 37, 670510, tzinfo=<UTC>)}, {'request_date': datetime.datetime(2022, 1, 15, 12, 33, 37, 670510, tzinfo=<UTC>)}]>

In [23]:
# Extract
Book.objects.annotate(
    day_of_request=functions.Extract(
        functions.Now(),
        "day"
    ),
    day_of_create=functions.Extract(
        "publish_date",
        "day"
    )
).values("day_of_request", "day_of_create")
# functions.ExtractDay
# functions.ExtractHour
# functions.ExtractIsoWeekDay
# functions.ExtractIsoYear
# functions.ExtractMinute
# functions.ExtractMonth
# functions.ExtractQuarter
# functions.ExtractSecond
# functions.ExtractWeek
# functions.ExtractWeekDay
# functions.ExtractYear

In [24]:
# Trunc
Book.objects.annotate(
    test=functions.Trunc(
        "publish_date",
        "month"
    )
).values("test")
# functions.TruncDate
# functions.TruncDay
# functions.TruncHour
# functions.TruncMinute
# functions.TruncMonth
# functions.TruncYear
# functions.TruncQuarter
# functions.TruncSecond
# functions.TruncWeek
# functions.TruncTime

In [25]:
# Reverse
Book.objects.annotate(
    reversed_title=functions.Reverse("title")
).values("reversed_title")

In [26]:
# MD5

Book.objects.annotate(
    md5=functions.MD5("title")
).values("md5")

In [27]:
# Case When
Book.objects.annotate(
    price_description=models.Case(
        models.When(price__gte=3.5, then=models.Value("High price")),
        models.When(price__gte=3, then=models.Value("Medium price")),
        default=models.Value("Good price"),
        output_field=models.CharField()
    )
).values("price_description")

In [29]:
# Exists | Subquery

query_set = Book.objects.annotate(
    is_author=models.Exists(
        Book.objects.filter(
            authors__id=2, 
            pk=models.OuterRef("pk")
        )
    ),
    is_rated=models.Exists(
        RateBookUser.objects.filter(
            user_id=2,
            book=models.OuterRef("pk")
        )
    ),
    is_ordered=models.Exists(
        OrderBookUser.objects.filter(
            user_id=2,
            book=models.OuterRef("pk")
        )
    ),
    my_rate=models.Subquery(
        RateBookUser.objects.filter(
            user_id=2,
            book=models.OuterRef("pk")
        ).values("rate")
    )
)

pd.DataFrame(query_set.values("is_author", "is_rated", "is_ordered", "my_rate"))

   is_author  is_rated  is_ordered  my_rate
0       True     False       False      NaN
1       True      True       False      3.0
2      False      True       False      4.0

In [49]:
# dates
print(Book.objects.dates("publish_date", "day"))
print(Book.objects.dates("publish_date", "year"))

<QuerySet [datetime.date(2022, 1, 11), datetime.date(2022, 1, 15)]>
<QuerySet [datetime.date(2022, 1, 1)]>

In [48]:
# datetimes
print(Comment.objects.datetimes("date", "day"))
print(Comment.objects.datetimes("date", "year"))

<QuerySet [datetime.datetime(2022, 1, 11, 0, 0, tzinfo=<DstTzInfo 'Europe/Warsaw' CET+1:00:00 STD>)]>
<QuerySet [datetime.datetime(2022, 1, 1, 0, 0, tzinfo=<DstTzInfo 'Europe/Warsaw' CET+1:00:00 STD>)]>

In [55]:
# in_bulk
Book.objects.in_bulk([1, 2], field_name="pk")

{2: <Book:    name 2>, 1: <Book: naME 1.   >}

---

In [1]:
import requests

In [2]:
response = requests.get(
    "http://localhost:8000/hotel/api_v1/list_ordered_room/",
    auth=("bogdan", "1234")
)
response

In [3]:
response.json()

[{'id': 7,
  'duration_order': 32,
  'total_price': 1536.0,
  'price': '48.00',
  'start_date': '2019-10-10T12:12:12+02:00',
  'end_date': '2019-11-11T12:12:12+01:00',
  'date': '2022-01-06',
  'room': 1,
  'user': 2},
 {'id': 8,
  'duration_order': 397,
  'total_price': 236413.5,
  'price': '595.50',
  'start_date': '2012-10-10T12:12:12+02:00',
  'end_date': '2013-11-11T12:12:12+01:00',
  'date': '2022-01-06',
  'room': 1,
  'user': 2},
 {'id': 9,
  'duration_order': 365,
  'total_price': 199837.5,
  'price': '547.50',
  'start_date': '2020-11-12T12:12:12+01:00',
  'end_date': '2021-11-12T12:12:12+01:00',
  'date': '2022-01-06',
  'room': 1,
  'user': 2},
 {'id': 10,
  'duration_order': 42,
  'total_price': 2646.0,
  'price': '63.00',
  'start_date': '2022-02-11T00:00:00+01:00',
  'end_date': '2022-03-25T00:00:00+01:00',
  'date': '2022-01-11',
  'room': 1,
  'user': 2}]

In [4]:
response.headers

{'Content-Type': 'application/json', 'Last-Modified': 'Mon, 10 Jan 2022 05:05:00 GMT', 'Vary': 'Accept, Cookie', 'Allow': 'GET, HEAD, OPTIONS', 'Server-Timing': 'TimerPanel_utime;dur=1149.2399999999993;desc="User CPU time", TimerPanel_stime;dur=445.23199999999986;desc="System CPU time", TimerPanel_total;dur=1594.4719999999993;desc="Total CPU time", TimerPanel_total_time;dur=1411.6370677947998;desc="Elapsed time", SQLPanel_sql_time;dur=9.039163589477539;desc="SQL 3 queries", CachePanel_total_time;dur=0;desc="Cache 0 Calls"', 'X-Frame-Options': 'DENY', 'Content-Length': '746', 'X-Content-Type-Options': 'nosniff', 'Referrer-Policy': 'same-origin', 'Server': 'Werkzeug/2.0.2 Python/3.9.9', 'Date': 'Thu, 20 Jan 2022 16:15:57 GMT'}

In [7]:
response = requests.get(
    "http://localhost:8000/hotel/api_v1/list_ordered_room/",
    auth=("bogdan", "1234"),
    headers={"If-Modified-Since": "Mon, 10 Jan 2022 05:05:00 GMT"}
)
response

In [23]:
# Etag

response = requests.get(
    "http://localhost:8000/hotel/api_v1/list_ordered_room/",
    auth=("bogdan", "1234")
)
response.headers, response.status_code

({'Content-Type': 'application/json', 'ETag': '"b0af8e37217b6beffa99868693f0cd886724e740ffa957574a89c5e2d0497a31"', 'Vary': 'Accept, Cookie', 'Allow': 'GET, HEAD, OPTIONS', 'Server-Timing': 'TimerPanel_utime;dur=8064.783;desc="User CPU time", TimerPanel_stime;dur=6447.146999999999;desc="System CPU time", TimerPanel_total;dur=14511.93;desc="Total CPU time", TimerPanel_total_time;dur=54027.18687057495;desc="Elapsed time", SQLPanel_sql_time;dur=34.90471839904785;desc="SQL 4 queries", CachePanel_total_time;dur=0;desc="Cache 0 Calls"', 'X-Frame-Options': 'DENY', 'Content-Length': '746', 'X-Content-Type-Options': 'nosniff', 'Referrer-Policy': 'same-origin', 'Server': 'Werkzeug/2.0.2 Python/3.9.9', 'Date': 'Thu, 20 Jan 2022 16:42:01 GMT'},
 200)

In [24]:
response = requests.get(
    "http://localhost:8000/hotel/api_v1/list_ordered_room/",
    auth=("bogdan", "1234"),
    headers={"If-None-Match":'"b0af8e37217b6beffa99868693f0cd886724e740ffa957574a89c5e2d0497a31"'}
)
response