In [2]:
import os
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

In [4]:
from hotel.models import OrderRoom
from django.db.models import F
from django.db.models.functions import ExtractDay

In [9]:
query_set = OrderRoom.objects.annotate(duration_days_ = ExtractDay(F('end_date') - F('start_date')))\
.annotate(total_price_=F("price") * F("duration_days_"))

query_set.first().total_price_

Decimal('172.80')

In [2]:
from myapp.models import Book

In [4]:
t = Book.objects.all().first()

In [5]:
t.get_next_by_publish_date()

In [6]:
t.get_deferred_fields?

In [12]:
t.get_previous_by_publish_date(is_next=9)

In [7]:
t.get_comment_order()

SQL functions
---

In [45]:
from django.db.models import functions
from django.db import models
from myapp.models import Book, RateBookUser, OrderBookUser, Comment
from django.contrib.auth.models import User
import pandas as pd

In [3]:
# Coalesce

Book.objects.annotate(
    ordd=functions.Coalesce(
        "order", 
        models.Value("0"),
        output_field=models.CharField()
    )
).values("ordd")

In [4]:
# Greatest

Book.objects.annotate(
    gt=functions.Greatest(
        "price",
        2.5,
        output_field=models.FloatField()
    )
).values("gt")

In [5]:
# Least

Book.objects.annotate(
    lt=functions.Least(
        "price",
        2.5,
        output_field=models.FloatField()
    )
).values("lt")

In [6]:
# Cast

Book.objects.annotate(
    nt=functions.Cast(
        "price",
        output_field=models.CharField()
    )
).values("nt")

In [7]:
# Concat
Book.objects.annotate(
    row=functions.Concat(
        models.Value("new value ("),
        functions.Cast("price", output_field=models.CharField()),
        models.Value(")")
    )
).values("row")

In [8]:
# Lower
Book.objects.annotate(
    lower_title=functions.Lower(
        "title"
    )
).values("title", "lower_title")

In [9]:
# Upper
Book.objects.annotate(
    upper_title=functions.Upper(
        "title"
    )
).values("title", "upper_title")

In [10]:
# Length
Book.objects.annotate(
    new_title=functions.Concat(
        "title", 
        models.Value("  "),
        functions.Cast(
            functions.Length("text"),
            output_field=models.CharField()
        )
    )
).values("new_title")

In [11]:
# Strlndex
Book.objects.annotate(
    index=functions.StrIndex(
        "text",
        models.Value("Dick")
    )
).values("index")

In [12]:
# Su–¨str
Book.objects.annotate(
    sub_value=functions.Substr(
        "text",
        580,
        10
    )
).values("sub_value")

In [13]:
# Left
Book.objects.annotate(
    left=functions.Left(
        "text",
        20
    )
).values("left")

In [14]:
# Right
Book.objects.annotate(
    right=functions.Right(
        "text",
        20
    )
).values("right")

In [15]:
# Replace
Book.objects.annotate(
    new_sub_text=functions.Replace(
        "text",
        models.Value("Dick"),
        models.Value("Big"),
        output_field=models.TextField()
    )
).annotate(
    new_text=functions.Substr(
        "new_sub_text",
        580,
        10
    )
).values("new_text")

In [16]:
# Repeat
Book.objects.annotate(
    new_title=functions.Repeat(
        "title", 4
    )
).values("new_title")

In [17]:
# LPad

Book.objects.annotate(
    new_title=functions.LPad(
        "title",
        15,
        models.Value("_")
    )
).values("new_title")

In [18]:
# RPad

Book.objects.annotate(
    new_title=functions.RPad(
        "title",
        15,
        models.Value("_")
    )
).values("new_title")

In [19]:
# Trim
Book.objects.annotate(
    trimed_title=functions.Trim(
        "title"
    )
).values("trimed_title", "title")

In [20]:
# LTrim
Book.objects.annotate(
    trimed_title=functions.LTrim(
        "title"
    )
).values("trimed_title", "title")

In [21]:
# RTrim
Book.objects.annotate(
    trimed_title=functions.RTrim(
        "title"
    )
).values("trimed_title", "title")

In [22]:
# Now
Book.objects.annotate(
    request_date=functions.Now()
).values("request_date")

<QuerySet [{'request_date': datetime.datetime(2022, 1, 15, 12, 33, 37, 670510, tzinfo=<UTC>)}, {'request_date': datetime.datetime(2022, 1, 15, 12, 33, 37, 670510, tzinfo=<UTC>)}, {'request_date': datetime.datetime(2022, 1, 15, 12, 33, 37, 670510, tzinfo=<UTC>)}]>

In [23]:
# Extract
Book.objects.annotate(
    day_of_request=functions.Extract(
        functions.Now(),
        "day"
    ),
    day_of_create=functions.Extract(
        "publish_date",
        "day"
    )
).values("day_of_request", "day_of_create")
# functions.ExtractDay
# functions.ExtractHour
# functions.ExtractIsoWeekDay
# functions.ExtractIsoYear
# functions.ExtractMinute
# functions.ExtractMonth
# functions.ExtractQuarter
# functions.ExtractSecond
# functions.ExtractWeek
# functions.ExtractWeekDay
# functions.ExtractYear

In [24]:
# Trunc
Book.objects.annotate(
    test=functions.Trunc(
        "publish_date",
        "month"
    )
).values("test")
# functions.TruncDate
# functions.TruncDay
# functions.TruncHour
# functions.TruncMinute
# functions.TruncMonth
# functions.TruncYear
# functions.TruncQuarter
# functions.TruncSecond
# functions.TruncWeek
# functions.TruncTime

In [25]:
# Reverse
Book.objects.annotate(
    reversed_title=functions.Reverse("title")
).values("reversed_title")

In [26]:
# MD5

Book.objects.annotate(
    md5=functions.MD5("title")
).values("md5")

In [27]:
# Case When
Book.objects.annotate(
    price_description=models.Case(
        models.When(price__gte=3.5, then=models.Value("High price")),
        models.When(price__gte=3, then=models.Value("Medium price")),
        default=models.Value("Good price"),
        output_field=models.CharField()
    )
).values("price_description")

In [29]:
# Exists | Subquery

query_set = Book.objects.annotate(
    is_author=models.Exists(
        Book.objects.filter(
            authors__id=2, 
            pk=models.OuterRef("pk")
        )
    ),
    is_rated=models.Exists(
        RateBookUser.objects.filter(
            user_id=2,
            book=models.OuterRef("pk")
        )
    ),
    is_ordered=models.Exists(
        OrderBookUser.objects.filter(
            user_id=2,
            book=models.OuterRef("pk")
        )
    ),
    my_rate=models.Subquery(
        RateBookUser.objects.filter(
            user_id=2,
            book=models.OuterRef("pk")
        ).values("rate")
    )
)

pd.DataFrame(query_set.values("is_author", "is_rated", "is_ordered", "my_rate"))

   is_author  is_rated  is_ordered  my_rate
0       True     False       False      NaN
1       True      True       False      3.0
2      False      True       False      4.0

In [49]:
# dates
print(Book.objects.dates("publish_date", "day"))
print(Book.objects.dates("publish_date", "year"))

<QuerySet [datetime.date(2022, 1, 11), datetime.date(2022, 1, 15)]>
<QuerySet [datetime.date(2022, 1, 1)]>

In [48]:
# datetimes
print(Comment.objects.datetimes("date", "day"))
print(Comment.objects.datetimes("date", "year"))

<QuerySet [datetime.datetime(2022, 1, 11, 0, 0, tzinfo=<DstTzInfo 'Europe/Warsaw' CET+1:00:00 STD>)]>
<QuerySet [datetime.datetime(2022, 1, 1, 0, 0, tzinfo=<DstTzInfo 'Europe/Warsaw' CET+1:00:00 STD>)]>

In [55]:
# in_bulk
Book.objects.in_bulk([1, 2], field_name="pk")

{2: <Book:    name 2>, 1: <Book: naME 1.   >}

Cache
---

In [3]:
import requests

In [7]:
response = requests.get("http://localhost:8000/hotel/api_v1/list_ordered_room/")
for index , (key, value) in enumerate(response.headers.items(), 1):
    print(index, key, value)

1 Content-Type application/json
2 Last-Modified Mon, 10 Jan 2022 10:20:10 GMT
3 ETag "test_etag"
4 Vary Accept, Cookie
5 Allow GET, HEAD, OPTIONS
6 Server-Timing TimerPanel_utime;dur=533.9550000000002;desc="User CPU time", TimerPanel_stime;dur=314.07099999999997;desc="System CPU time", TimerPanel_total;dur=848.0260000000001;desc="Total CPU time", TimerPanel_total_time;dur=710.7770442962646;desc="Elapsed time", SQLPanel_sql_time;dur=1.5139579772949219;desc="SQL 1 queries", CachePanel_total_time;dur=0;desc="Cache 0 Calls"
7 X-Frame-Options DENY
8 Content-Length 746
9 X-Content-Type-Options nosniff
10 Referrer-Policy same-origin
11 Server Werkzeug/2.0.2 Python/3.9.9
12 Date Sun, 16 Jan 2022 17:11:26 GMT

In [8]:
requests.get(
    "http://localhost:8000/hotel/api_v1/list_ordered_room/",
    headers={"If-None-Match": '"test_etag"'}
) # not Modified

In [24]:
requests.get(
    "http://localhost:8000/hotel/api_v1/list_ordered_room/",
    headers={"If-Match": '"test_etag111"'}
) # Precondition Failed

In [25]:
requests.get(
    "http://localhost:8000/hotel/api_v1/list_ordered_room/",
    headers={"If-Modified-Since": 'Mon, 10 Jan 2022 10:20:10 GMT'}
) # not Modified

In [30]:
requests.get(
    "http://localhost:8000/hotel/api_v1/list_ordered_room/",
    headers={"If-Unmodified-Since": 'Mon, 09 Jan 2022 10:20:10 GMT'}
) # Precondition Failed